*{
    box-sizing:border-box ;
}

body{
    margin: 0;
    padding: 0;

}

.header{
    background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.3)),url(images/donation11.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    opacity: 100px;
}
.head-text{
    background-color: rgba(0,0,0,0.1);

}
#btn1{
    text-decoration: none;
    padding: 20px 50px;
    font-size: 1.25rem;
    position: relative;
    margin: 32px;
    background: #000;
    color: #fff;
    border-radius: 30px;
    transition: transform 0.3s ease;   
}
#btn1::after,#btn1::before{
    content:"";
    position: absolute;
    opacity: 0.3;
    background:red;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom:0;
    z-index: -1;
    transition: transform 0.3s ease;
}
#btn1:hover{
    transform: translate(-12px,-12px);

}
#btn1:hover::after{
    transform: translate(6px,6px);
}
#btn1:hover::before{
    transform: translate(12px,12px);
}

/* Second section  */

.second-page{
    font-size: 30px;
    display: flex;
    text-align: center;
    width:100%;
    height:100vh;
    justify-content: center;
    align-items: center;
}
.price{
  display: inline-flex;
  text-indent: 100px;
}
#sp{
    text-decoration: none;
    padding: 20px 30px;
    font-size: 1rem;
    position: relative;
    margin: 32px;
    background:red;
    color: #fff;
    border-radius: 40px;
}

/* Third page section*/


.third-page{
    font-size: 30px;
    text-align: center;
    width:100%;
    height:100vh;
    justify-content: center;
}
.container{
    width:1000px;
    max-width:100%;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.card{
    display: flex;
    flex-direction: column;
    flex: 1 1 12rem;
    flex-wrap: wrap;
    margin:30px 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.3); 
    align-self: normal;
}
.card img{
    max-width: 250px;
    padding-left: 30px;
    padding-top: 25px;
}
.card p{
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.card h4{
    font-size: 1.3rem;
    margin:10px 0;
}

#clothes{
    background: blueviolet;
}
#medicine{
    background: pink;
}
#shelter{
    background: greenyellow;
}

/* last part */
.footer{
    width: 100vw;
    height: 8rem;
    background-color: red;
    margin-top:500px;
    text-align: center;
}
.footer p{
    font-size: 0.5rem;
    text-align: center;
    line-height: 5rem;
    line-height: normal;
}



